<div ng-init="init()">
<nav ng-init="getOneUser()" class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="/#/{{user.userName}}/userhome">Home</a>
				<a class="navbar-brand" href="/#/{{user.userName}}/ads">Ad</a>
				<a class="navbar-brand" href="/#/{{user.userName}}/account">Account</a>
			</div>
			<p class="navbar-text navbar-right">Wellcome {{user.userName}}</p>
			<button ng-click="logOut()">Logout</button>
		</div>
	</nav>

<div class="container">
	<!-- Example row of columns -->
	<div class="row text-center">
		<div class="col-md-6">
			<h2>Ads</h2>
			<p>CRUD operations on ads.</p>
			<p>
				<a class="btn btn-default" href="/#/{{user.userName}}/ads" role="button">Ad &raquo;</a>
			</p>
		</div>
		<div class="col-md-6">
			<h2>Account</h2>
			<p>Set your account.</p>
			<p>
				<a class="btn btn-default" href="/#/{{user.userName}}/account" role="button">Account &raquo;</a>
			</p>
		</div>		
	</div>
</div>
</div>